<template name="baseinfo">
  <view class='price-wrapper'>
    <view class="brand">
        <view class="brand-text clear">
          <image class="brand-logo" src="{{brandImg}}"></image>
          <view class="brand-title">{{title}}</view>
        </view>
    </view>
    <view class="price-val clear">
        <view class='price-main'>
          <text class="price-val-num">{{price}}</text>
          <text class='price-unit'wx:if="{{price != '面议'}}">万</text>
          <text class='price-tax' wx:if="{{haveTax}}">含过户费</text>
        </view>
        <view class='price-new-car' wx:if="{{TaxPrice != ''}}">
          <text>新车含税:{{TaxPrice}}</text>
        </view>
    </view>
  </view>
  
</template>