.info{
  padding: 30rpx;
  border-bottom: 1px solid #F3F3F3;
}
.recommend-title{
  font-size: 24rpx;
  padding-left: 28rpx;
  padding:20rpx 0 20rpx 30rpx;
  border-bottom: 1px solid #F3F3F3;
}

.info-img{
  float: left;
  width: 240rpx;
  height: 180rpx;
  margin-right: 20rpx;
}
.info-cont{
  float: left;
  width: 420rpx;
  height: 180rpx;
  position: relative;
}
.info-title{
  font-size: 32rpx;
  color: #000000;
  line-height: 38rpx;
}

.time-kind{
  font-family: PingFangSC-Light;
  font-size: 24rpx;
  letter-spacing: 0;
  line-height: 30rpx;
  margin-top: 4rpx;
}

.info-time{
  color: #333333;
  float: left;
}
.info-kind{
  color: #AAAAAA;
  float: right;
}

.info-tags{
  font-size: 0;
}

.tags-item{
  background: #EBF5FD;
  font-size: 22rpx;
  color: #39A0F4;
  letter-spacing: 0;
  padding: 1rpx 4rpx;
  margin-right: 8rpx;
}
.golden{
  background: #F5EDE1;
  color: #C18F42;
}

.purple{
  background: #EDE8F1;
  color: #9B72B7;
}


.info-price{
  font-size: 24rpx;
  color: #FF552E;
  letter-spacing: 0;
  line-height: 24rpx;
  position: absolute;
  left: 0;
  bottom: 0;
}

.price-val{
  font-size: 36rpx;
  margin-right: 20rpx;
}

.price-val text{
  font-size: 24rpx;
}


