<template name="filter-cont">
  <view class='filter-all-wrapper' hidden="{{isHide}}">
    <view class='mask' bindtap="handleMask"></view>
    <view class="filter-wrapper">
      <scroll-view scroll-y="false" style="height: 85%;width:100%" bindtouchstart="filterStart" bindtouchend="filterEnd">
        <block wx:for="{{filterInfos}}" wx:for-item="filterItem" wx:for-index="filterIndex" wx:if="{{filterItem.forName!='chexi'}}" wx:key="item.id">
          <view class='filter-item'>
            <view class='item-title clear'>
              <text class='item-tit'>{{filterItem.text}}</text>
              <text class='item-more' bindtap='moreFilter' data-filterindex = "{{filterIndex}}" data-catename="{{filterItem.forName}}">
                <text class='arrow-light-bottom' wx:if="{{selectedText[filterItem.forName] != '更多'}}" class='more-active'>{{selectedText[filterItem.forName]}}</text>
                <text class='arrow-light-bottom' wx:else>{{selectedText[filterItem.forName]}}</text>
              </text>
            </view>
            <view class='item-cont clear'>
              <text wx:for="{{filterItem.subFilter}}" wx:for-item="subFilterItem" wx:for-index="subFilterIndex" wx:key="subFilterIndex" bindtap='handleFilterItem' data-url="{{subFilterItem.linkUrl}}" data-text="{{subFilterItem.text}}" data-catename="{{filterItem.forName}}" data-listname="{{subFilterItem.listName}}" hidden="{{subFilterIndex >= 6 && filterItem.forName == filterForName[filterIndex]}}" wx:if="{{(subFilterItem.id != 1907866) && (subFilterItem.id != 1246033) && (subFilterItem.id != 728013)  }}">
                  <text wx:if="{{subFilterItem.selected}}"  class='active'> {{subFilterItem.text}} </text>
                  <text wx:else>{{subFilterItem.text}}</text> 
              </text>
            </view>
          </view> 
        </block>
      </scroll-view>
      <view class='filter-btns clear'>
        <text class='clear-btn' bindtap='handleClear'>清空</text>
        <text class='check-btn' bindtap='handleCheck' wx:if="{{total_datas > 0}}">查看{{total_datas}}条车源</text>
        <text class='check-btn' bindtap='handleCheck' wx:elif="{{currentCount == 0}}">暂无车源，请调整条件</text>
        <text class='check-btn' bindtap='handleCheck' wx:else>无结果，为您推荐其他车源</text>
      </view>
    </view>
  </view>
</template>