
<import src="letter/letter.wxml" />
<view class='city-all-wrapper'>
  <template is="letter" data="{{letter_arr}}" />
  <view class="section-city-wrapper">
   
    <view class="section-city">
      <icon type="search" size="12" class="icon-search" style="left: 30rpx;" />
      <view class="input-wrapper">
        <input class="section-city-area" 
          placeholder-style="color:#999999;text-align:left;" 
          placeholder="城市名、拼音、首字母" 
          confirm-type="search"
          disabled="{{ inputDisable }}"
          value="{{ searchValue }}"
          bindtap="searchCity"
          bindinput="inputChange"
          bindfocus="inputFocus"
        />
        <view 
          class="icon-clear-wrapper"
          bindtap="clearInput"
          wx:if="{{ isShowBlurCity }}"
          >
          <icon type="clear" size="12" class="icon-clear"/>
        </view>
      </view>
      <text class="blur-cancel" wx:if="{{isShowBlurCity}}"  bindtap="hideBlurCity">取消</text>
  </view>
  </view>
  <view class="city-blur-mask" wx:if="{{isShowBlurCity}}"></view>
  <view class="city-blur-wrapper" wx:if="{{isShowBlurCity}}">
    <view 
      class="city-blur city-item" 
      wx:for="{{blurCity.w}}" 
      wx:key="{{index}}"
      bindtap="chooseBlurCity" 
      data-name="{{item.k}}"
      > 
        <text class="blur-key"></text>{{ item.k }}
      </view>
      <view class="no-blur" wx:if="{{blurCity.w.length == 0}}">
        搜索无结果，试试其他关键词
      </view>
  </view>
  <view class='city-wrapper'>
    <scroll-view scroll-y="true" style="height:94%" class="city-scroll-wrapper"
      scroll-into-view="{{ activeLetter }}"
      >
      <view class='city-local' wx:if="{{ presentCity.cityName }}">
        <view class='city-title'>当前定位城市</view>
        <view class='local-cont'>
          <image class='local-icon' src="../../images/icon/icon-location.png"></image>
          <text class='local-text'>{{ presentCity.cityName }}</text>
        </view>
      </view>
      <view class='city-general' wx:if="{{ commonCity.length > 0 }}">
        <view class='city-title'>常用城市</view>
        <view class='common-cont clear'>
          <view 
            wx:for="{{ commonCity }}"
            wx:key="index"
            bindtap="chooseCity"
            data-id="{{ item.id }}"
            data-name="{{ item.name }}"
            data-city="{{ item.city }}"
            >
              <text class="cityitem">{{ item.name }}</text>
            </view>
        </view>
      </view>
      <view class='city-general city-near' wx:if="{{ nearCity.length > 0 }}">
        <view class='city-title'>周边城市</view>
        <view class='common-cont clear'>
          <view 
            wx:for="{{nearCity}}" 
            wx:key="item.cityid" 
            bindtap="chooseCity" 
            data-id="{{ item.cityid }}"
            data-name="{{ item.name }}"
            data-city="{{ item.city }}"
          >
           <text>{{ item.name }}</text>
          </view>
        </view>
      </view>
      <view class='letter-city' 
        wx:for="{{ localCity }}" 
        wx:for-index="key" 
        wx:key="key" 
        wx:for-item="letterCity" 
        id="{{ key }}"
        >
        <view class='letter-title'>{{ key }}</view>
        <view class='common-cont clear'>
          <view 
            wx:for="{{ letterCity }}" 
            wx:key="index"
            wx:if="{{ item.cityId > 0 }}"
            bindtap="chooseCity"
            data-id="{{ item.cityId }}"
            data-name="{{ item.cityName }}"
            data-city="{{ item.listName}}"
            >
              <text>{{ item.cityName }}</text>
            </view>
        </view>
      </view>
    </scroll-view>
  </view>
</view>