<import src="filter/filter.wxml" />
<import src="info-item/info-item.wxml" />
<import src="filter/brand/brand.wxml" />
<import src="filter/series/series.wxml" />
<import src="filter/letter/letter.wxml" />
<import src="filter/sort/sort.wxml" />
<view class='all-wrapper'>
  <template is="filter-tab" data="{{...tab_state}}"/>
  <template is="filter" data="{{filter_datas}}"/>
  <template is="brand" data = "{{...brand_datas}}"/> 
  <template is="series" data = "{{...series_datas}}"/> 
  <template is="letter" data = "{{...letter_datas}}"/>
  <template is="sort" data = "{{...sort_datas}}"/>
  <scroll-view scroll-y="{{info_scroll_fix}}" scroll-top="{{info_scroll_top}}" style="height: 92%" bindscrolltolower="handleLower">
    <block wx:for="{{listInfos}}" wx:for-item="listItem" wx:for-index="listIndex" wx:key="listIndex">
      <view class='recom_info' wx:if="{{infoCountMap.gulRecomLsnoInfo>0 && listIndex == infoCountMap.commoninfo}}">查无结果，向您推荐:</view>
      <template is="infolist" data="{{listItem}}" />
    </block>
    <view wx:if="{{loadMore.haveMore == 'noMore'}}" class='more_info'>没有信息了...</view>
    <view wx:elif="{{loadMore.haveMore == 'haveMore'}}" class='more_info'>加载更多信息中...</view>
  </scroll-view>
  <!-- TODO -->
  <!-- <button type="default" bindtap="goGuchejia" class="guchejia-btn">进入估车价</button> -->
</view>




