@import "filter-cont/filter-cont.wxss";
.filter-nav{
  font-size: 28rpx;
  color: #555555;
  letter-spacing: 0;
  line-height: 100rpx;
  height: 100rpx;
  border-bottom: 1px solid #F3F3F3;
}

.filter-city{
  float: left;
  padding: 0 30rpx;
  cursor: pointer;
}

.city-icon{
  display: inline-block;
  width: 30rpx;
  height: 30rpx;
  margin-right: 12rpx;
  position: relative;
  top: 7rpx;
}

.city-icon2{
  display: inline-block;
  width: 30rpx;
  height: 30rpx;
  margin-left: 12rpx;
  position: relative;
  top: 7rpx;
}

.filter-sort{
  float: right;
  padding: 0 30rpx;
  cursor: pointer;
}
.filter-sort-active{
  float: right;
  padding: 0 30rpx;
  cursor: pointer;
  color: #ff552e;
}

.filter-funcs{
  float: right;
  padding: 0 30rpx;
  cursor: pointer;
}

.arrow-red-bottom:after {
    display: inline-block;
    content: "";
    border-top: 12rpx solid #ff552e;
    border-left: 12rpx solid transparent;
    border-right: 12rpx solid transparent;
    margin-left: 10rpx;
    position: relative;
    top: -2rpx;
}

.arrow-light-bottom:after {
    display: inline-block;
    content: "";
    border-top: 12rpx solid #ccc;
    border-left: 12rpx solid transparent;
    border-right: 12rpx solid transparent;
    margin-left: 10rpx;
    position: relative;
    top: -2rpx;
}

