<import src="filter-cont/filter-cont.wxml" />
<template name="filter-tab">
  <view class="filter-nav">
    <view class='filter-city' bindtap='clickLocation'>
      <image class='city-icon' src="../../images/icon/icon-location.png"></image>
      <text>{{cityName}}</text>
    </view>
    <view class='filter-funcs' bindtap='handleFilter'>
      <text>筛选</text>
      <image class='city-icon2' src="../../images/icon/icon-filter.png"></image>
    </view>
    <text class='filter-sort-active arrow-red-bottom' wx:if="{{isOk}}" bindtap="handleSort">排序</text>
    <text class='filter-sort arrow-light-bottom' wx:else bindtap="handleSort">排序</text>
  </view>
</template>
<template name="filter">
  <template is="filter-cont" data = "{{...filter_datas}}"/>
</template>
