page{
    overflow:hidden
}
/*******************brand******************************/
.spellIndexTitle{
    line-height: 60rpx;
    background: #f7f7f7;
    padding-left: 36rpx;
    border-bottom: 1rpx solid #e5e5e5;
    border-top: 1rpx solid #e5e5e5;
    font-size:24rpx;
    color:#999
}
.spellIndexList{
	padding: 0 0 10rpx 26rpx;
    overflow: hidden;
}
.spellIndexList text{
	width: 66rpx;
    height: 66rpx;
    float: left;
    margin: 20rpx 22rpx 0 0;
    text-align: center;
    line-height: 66rpx;
    border: 2rpx solid #e3e3e3;
    display: inline;
    border-radius: 6rpx;
    -webkit-border-radius: 6rpx;
    background: #f7f7f7;
    font-size:28rpx
}
.detailTitle{
    height: 96rpx;
    line-height: 96rpx;
    color: #999;
    font-size: 28rpx;
    border-bottom: 1rpx solid #e3e3e3;
    font-size:28rpx;
    font-weight:bold;
    position:relative;
    background:#fff;
    padding-left:30rpx;
    background:#fff
}
.detailList{
	margin: 0 26rpx;
}
.detailList text{
	line-height: 76rpx;
    border-bottom: 2rpx solid #e3e3e3;
    font-size: 28rpx;
    color: #333;
    display:block

}
.hide{
    display:none
}
.city-con{
    width:0rpx;
    height:100%;
    background:#fff;
    position:absolute;
    top:0;
    right:0;
    overflow:hidden;
    border-left:1px solid #ddd;
    box-shadow:0 0 10px 0 #999;
}
.detailTitle text{
    position:absolute;
    right:20rpx;
    color:#333;
}
.province-con .currentColor,.city-con .currentColor{
    color:#FF552E;
}
.province-con{
    width:750rpx;
    overflow:hidden
}
.cityDetailWrap{
    width:382rpx;
}