@import "banner-swiper/banner-swiper.wxss";
@import "baseinfo/baseinfo.wxss";
@import "detailinfo/detailinfo.wxss";
@import "saleinfo/saleinfo.wxss";
@import "guess-like/guess-like.wxss";
@import "bottom-nav/bottom-nav.wxss";
.all-container {
    background: #f6f6f6;
    width: 100%;
    overflow: hidden;
    padding-bottom: 120rpx;
}
.clear:after {
    content: '';
    clear: both;
    display: block
}

.arrow-red-bottom:after {
    display: inline-block;
    content: "";
    border-top: 10rpx solid #ff552e;
    border-left: 10rpx solid transparent;
    border-right: 10rpx solid transparent;
    margin-left: 5rpx;
    position: relative;
    top: -4rpx
}
.submit_btn{
    float:right;
    width:80rpx;
  position: absolute;
  right:10rpx;
  opacity:0
}