<template name="series">
    <view class='series-wrapper' hidden="{{hideSeries}}">
      <view class='series-title'>{{brand_name}}</view>
      <scroll-view scroll-y style="height: 80%" bindscrolltoupper="upper" bindscrolltolower="lower">
        <view class='series-item'>
          <view class='series-cont'>
            <view class='series-cont-item' wx:for="{{series_arr}}" wx:for-item="seriesItem" wx:for-index="seriesIndex" wx:key="seriesIndex" data-url="{{seriesItem.linkUrl}}" bindtap='handleSeries' data-text="{{seriesItem.text}}">
              <text wx:if="{{seriesItem.text == currentSeries}}" class='active'> {{seriesItem.text}} </text>
              <text wx:else>{{seriesItem.text}}</text> 
            </view>
          </view> 
        </view> 
        <!-- <view class='series-item'>
            <view class='series-cont'>
              <view class='series-cont-item'>111111</view>
            </view>
        </view> -->


      </scroll-view>
    </view>
</template>