
<!--year start-->
<view class="year-con">
	<view class="yearDetailWrap">
	    <view class="yearDetail">
        	<view class="detailTitle">上牌年份<text bindtap="bindBackTap0">清除</text></view>
        	<block wx:for="{{yearArray}}">
        		<view class="detailList">
	                <text class="{{yearColor==index?'currentColor':''}}" bindtap="bindYearTap" data-value="{{item.value}}" data-text="{{item.text}}" data-id="{{index}}">{{item.text}}</text>
	            </view>
        	</block>	
    	</view>
    </view>
</view><!--year end-->
<!--month start-->
<view class="month-con" animation="{{monthAnimation}}">
	<view class="monthDetailWrap">
	    <view class="monthDetail">
        	<view class="detailTitle">上牌月份<text bindtap="bindBackTap">清除</text></view>
        	<view class="detailList" wx:for="{{monthArray}}">
                <text class="{{monthColor==index?'currentColor':''}}" bindtap="bindMonthTap" data-text="{{item}}月" data-id="{{index}}">{{item}}月</text>
            </view>   
    	</view>
    </view>
</view><!--month end-->
