
<view class="brand-con">
	<view class="spellIndexList">
		<button data-hash="热门" bindtap="goHash" plain="false">热</button>
        <button data-hash="A" bindtap="goHash" plain="false">A</button>
        <button data-hash="B" bindtap="goHash" plain="false">B</button>
        <button data-hash="C" bindtap="goHash" plain="false">C</button>
        <button data-hash="D" bindtap="goHash" plain="false">D</button>
        <button data-hash="F" bindtap="goHash" plain="false">F</button>
        <button data-hash="G" bindtap="goHash" plain="false">G</button>
        <button data-hash="H" bindtap="goHash" plain="false">H</button>
        <button data-hash="J" bindtap="goHash" plain="false">J</button>
        <button data-hash="K" bindtap="goHash" plain="false">K</button>
        <button data-hash="L" bindtap="goHash" plain="false">L</button>
        <button data-hash="M" bindtap="goHash" plain="false">M</button>
        <button data-hash="N" bindtap="goHash" plain="false">N</button>
        <button data-hash="O" bindtap="goHash" plain="false">O</button>
        <button data-hash="P" bindtap="goHash" plain="false">P</button>
        <button data-hash="Q" bindtap="goHash" plain="false">Q</button>
        <button data-hash="R" bindtap="goHash" plain="false">R</button>
        <button data-hash="S" bindtap="goHash" plain="false">S</button>
        <button data-hash="T" bindtap="goHash" plain="false">T</button>
        <button data-hash="W" bindtap="goHash" plain="false">W</button>
        <button data-hash="X" bindtap="goHash" plain="false">X</button>
        <button data-hash="Y" bindtap="goHash" plain="false">Y</button>
        <button data-hash="Z" bindtap="goHash" plain="false">Z</button>
	</view>
	<view class="brandHotWrap">
	    <view class="brandHot" id="first">
        	<view class="detailTitle detailTitle1">选择品牌<text bindtap="bindBackTap0">清除</text></view>
        	<scroll-view class="detailList" scroll-y="true" style="height:{{scrollHeight}}px"  bindscroll="scroll" scroll-into-view="{{toView}}" scroll-top="{{scrollTop}}">
        	    <text class="zimu hot_zimu"  id="热门" data-value="热门" data-text="热门">热门</text> 
            	<view class="hotList brandHotList">

	            	<block  wx:for="{{brandArray0[0].brandList}}" wx:for-item="itemName">

	            		<text  bindtap="bindBrandTap" data-text="{{itemName.text}}" data-value="{{itemName.value}}" data-id="{{index}}" wx:if="{{index==3 || index==7 || index==9}}" class="no-margin {{brandColor==index?'currentColor':''}}">{{itemName.text}}</text>
	            		<text class="{{brandColor==index?'currentColor':''}}" bindtap="bindBrandTap" data-text="{{itemName.text}}" data-value="{{itemName.value}}" data-id="{{index}}" wx:else>{{itemName.text}}</text>
	            	</block>
                </view>
                
                <view class="list_detailList">
	    		    <block wx:for="{{brandArray}}">
			        	<view class="detailList">
			        		<text class="zimu" id="{{item.zimu}}" data-value="{{item.zimu}}" data-text="{{item.zimu}}">{{item.zimu}}</text> 
			        		<view wx:for="{{item.brandList}}" wx:for-item="itemName">
			        			<text class="{{brandColor==item.zimu+'_'+index ?'currentColor':''}}" bindtap="bindBrandTap" data-value="{{itemName.value}}" data-text="{{itemName.text}}" data-id="{{item.zimu+'_'+index}}">{{itemName.text}}</text>
			        		</view>       
			            </view>
		            </block>   
	        	</view>
            </scroll-view>
        </view>
    </view>
</view>

<!--chexi start-->
<view class="chexi-con"  animation="{{animationData}}">
	<view class="chexiDetailWrap">
	    <view class="chexiDetail">
        	<view class="detailTitle">选择车系<text bindtap="bindBackTap">清除</text></view>
    		<scroll-view class="detailList" scroll-y="true" style="height:{{scrollHeight}}px" bindscrolltoupper="upper" bindscrolltolower="lower" bindscroll="scroll" scroll-into-view="{{toView}}" scroll-top="{{scrollTop}}">
    		<block wx:for="{{chexiArray}}">
                <text class="{{chexiColor===index?'currentColor':''}}" bindtap="bindChexiTap"  data-value="{{item.value}}" data-text="{{item.text}}" data-id="{{index}}">{{item.text}}</text>
            </block>
            </scroll-view>    		
    	</view>
    </view>
</view><!--chexi end--> 
<!--chexing start-->

<view class="chexing-con" animation="{{animationData1}}">
	<view class="chexingDetailWrap">
	    <view class="chexingDetail">
        	<view class="detailTitle">选择车型<text bindtap="bindBackTap1">清除</text></view>
        	<scroll-view  scroll-y="true" style="height:{{scrollHeight}}px" bindscrolltoupper="upper" bindscrolltolower="lower" bindscroll="scroll" scroll-into-view="{{toView}}" scroll-top="{{scrollTop}}">
        		<block wx:for="{{chexingArray}}">
		        	<view class="detailList">
		        		<text class="niankuan" data-value="{{item.year}}" data-text="{{item.year}}">{{item.year}}</text>
		        		<view wx:for="{{item.modelList}}" wx:for-item="itemName">
                            <view  class="chexing {{chexingColor===index?'currentColor':''}}" bindtap="bindChexingTap"  data-value="{{itemName.modelid}}" data-text="{{itemName.text}}" data-id="{{index}}">{{itemName.text}}
                                <text data-text="{{itemName.text}}" data-id="{{index}}" data-value="{{itemName.modelid}}">{{itemName.difftext}}</text>
                            </view>
		        		</view>
		                
		            </view>
	            </block>
        	</scroll-view>
        	
    	</view>
    </view>
</view><!--chexing end-->
